.titlePage {
  background-color: lightblue;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 28px;

  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  font-weight: bold;
}

.checklistTitle {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  font-size: 26px;
}